// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

// Backend URL for Debug builds
BACKEND_URL = https:/$()/img-host.costream.workers.dev
// Alternative for localhost issues: BACKEND_URL = http:/$()/localhost:8787
// Production: BACKEND_URL = https:/$()/img-host.costream.workers.dev
